.marginTop{margin-top: -20px;}
.kv-heading-1{font-size:18px;}
table th, table td{padding: 5px;}
.font-weight-bold{font-weight: bold;}
.font-size-max{font-size: 22px;}
.font-weight-500{font-weight: 500} 
.inr-sign::after{content:"\20B9";}
.inr-sign::before{content:"\20B9";}
.pull-right{float:right;}
.pull-left{float:left;}
.borderNone{border:0}
.summaryTable{ border:1px solid #000 !important;}
.borderSide{border-right:1px solid #000 !important;border-left:1px solid #000 !important;}
table{ border:1px solid #000 !important;}
td.borderSide{border-right:1px solid #000 !important;border-left:1px solid #000 !important;}