Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^veyes\.axionpcs\.in$ [NC]
RewriteCond %{REQUEST_URI} ^/qcphotos/(.+)\.mp4$ [NC]
RewriteRule ^(.*)$ https://axion-preinspection.s3.ap-south-1.amazonaws.com/qcphotos/%1.mp4 [L,R=301]